<div class = "container">
  <div class = "row">
<%= render 'list', user: current_user, book: @book %>


<div class = col-xs-9>
  <table class = "table">
    <h2>Users</h2>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60,fallback: "no_image.jpg", size:'60x60' %></td>
        <td><%= user.name %></td>
        <td><%= "フォロー数: #{user.followings.count}" %></td>
        <td><%= "フォロワー数: #{user.followers.count}" %></td>
        <td>
          <%= render partial: "follow_button", locals: { user: user } %>
        </td>
        <td><%=link_to "Show", user_path(user) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
</div>
</div>
