<div class = "container">
  <div class = "row">
    <% if flash[:success] %>
    <%= render 'layouts/flash_message' %>
    <% end %>
    <%= render 'users/list', user: @book.user, book: Book.new %>

    <div class = col-xs-9>
      <table class = "table">
        <h2>Book detail</h2>
        <tr>
        <td>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100,fallback: "no_image.jpg", size:'100x100' %><br>
          <%= link_to @book.user.name, user_path(@book.user) %>
        </td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <td class="fav_<%= @book.id %>">
          <%= render 'like', user: current_user, book: @book %>
        </td>
        <td>
          コメント数：<%= @book.book_comments.count %>
        </td>
        <% if current_user.id == @book.user.id %>
          <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-default" %></td>
          <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %></td>
        <% end %>
        </tr>
      </table>
      <h4>Book comments</h4>
      <%= render 'books/comment', user: current_user, book: @book %>
      <div class="post_comment">
        <%= form_with(model: [@book, @book_comment]) do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control comment_form",placeholder: "コメントをここに" %>
          </div>
        </div>
        <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
